.news {
  margin-top: 120px;
}

.news__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid white;
  padding-bottom: 13px;
}

.news__title {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.news__button {
  color: var(--white);
  transition: color 0.5s;
  font-size: 18px;
  font-weight: 600;
}

.news__button:hover {
  color: var(--dark-orange);
  cursor: pointer;
  transition: color 0.5s;
}

@media (max-width: 1132px) {
  .news__list {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 759px) {
  .news__list {
    padding-bottom: 100px;
    gap: 0px;
  }
  .news {
    position: relative;
  }
  .news__button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    transition: color 0.5s;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--white);
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    width: 100%;
    text-align: center;
  }

  .news__title {
    font-size: 35px;
  }
}

@media (max-width: 400px) {
  .news__title {
    font-size: 25px;
  }
}
