.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.2em;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
