.table {
  margin: 120px 0px;
}

.table__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid white;
  padding-bottom: 13px;
}

.table__title {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table__rows {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

@media (max-width: 759px) {
  .table {
    margin: 140px 0px 80px 0px;
  }

  .table__title {
    font-size: 35px;
  }
}

@media (max-width: 400px) {
  .table__title {
    font-size: 25px;
  }
}
