.wrapper {
  color: white;
  margin-bottom: 150px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--white);
  padding-bottom: 15px;
  text-transform: uppercase;
}
