:root {
  --basic: #141414;
  --black: #000000;
  --orange: #f77f52;
  --white: #ffffff;
  --background: #313131;
  --dark-text: #222222;

  --dark-orange: #f9581c;
}

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--dark-orange);
  transition: color 1s;
}

a {
  color: var(--white);
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: var(--font-inter);
  font-size: 100%;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-size: 100%;
  background-color: var(--background);
  color: var(--white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
