.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--white);
  margin-top: 200px;
}

.main__city {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.main__title {
  font-size: 150px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.main__subtext {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.main__btn {
  text-align: center;
  margin-top: 50px;
}
