.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    background: url('../../../assets/img/logo.png') no-repeat 0% 10%;
}

.footer {
    border-top: 1px solid white;
    padding: 0px 0px 20px 0px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social {
    display: flex;
    gap: 30px;
}

.list {
    display: flex;
    gap: 30px;
}

.folow {
    display: flex;
    flex-direction: column;
}

.text {
    color: white;
}