.about {
  margin-top: 60px;
}

.about__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid white;
  padding-bottom: 13px;
}

.about__title {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 10%;
  font-size: 18px;
  color: var(--white);
  grid-column-start: 5;
  grid-column-end: 7;
  justify-content: space-evenly;
}

.about__link {
  color: var(--white);
  transition: color 1s;
  font-size: 18px;
  font-weight: 600;
}

.about__content {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 4%;
}

.about__video {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 480px;
}

.about__button {
  color: var(--white);
  transition: color 0.5s;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 759px) {
  .about {
    margin-top: 65px;
    position: relative;
  }

  .about__button {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    transition: color 1s;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--white);
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    width: 100%;
    text-align: center;
  }

  .about__title {
    font-size: 35px;
  }

  .about__video {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .about__text {
    grid-column-start: 1;
    grid-column-end: 7;
    margin: 10px 0px 30px 0px;
  }
}

@media (max-width: 400px) {
  .about__title {
    font-size: 25px;
  }
}
