.wrapper {
  color: var(--white);
  max-width: 1200px;
  margin: 0 auto;
  background: url('../../../assets/img/form_dark.png') no-repeat right bottom,
    url('../../../assets/img/form.png') no-repeat right bottom;
}

.title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 40px 0 23px;
  border-bottom: 3px solid var(--white);
  padding-bottom: 15px;
  text-transform: uppercase;
}

.input {
  width: 100%;
  background-color: white;
  color: var(--black);
  border-radius: 2px;
  padding: 10px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 120px;
  margin-top: 50px;
}

.checkbox_wrapper {
  display: flex;
  margin: 24px 0px 40px;
}

.checkbox {
  margin-right: 10px;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + .checkbox__label,
.checkbox:not(:checked) + .checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.checkbox:checked + .checkbox__label::before,
.checkbox:not(:checked) + .checkbox__label::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid var(--white);
  background-color: var(--background);
}

.checkbox:checked + .checkbox__label::after,
.checkbox:not(:checked) + .checkbox__label::after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 2px;
  top: 4px;
  width: 15px;
  height: 8px;
  border-radius: 1px;
  border-left: 4px solid var(--orange);
  border-bottom: 4px solid var(--orange);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox:not(:checked) + .checkbox__label::after {
  opacity: 0;
}

.checkbox:checked + .checkbox__label::after {
  opacity: 1;
}

.button {
  width: 100%;
  background-color: var(--background);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 2px;
  padding: 16px 20px;
  font-weight: 700;
  transition: background-color 1s;
}

.button:hover {
  background-color: var(--dark-orange);
  transition: all 1s;
}

.formWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox__label {
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .title {
    padding: 0px 10px;
  }

  .form {
    padding-left: 10px;
  }
}

@media (max-width: 950px) {
  .form {
    padding-right: 0px;
    margin-top: 10px;
  }

  .checkbox__label {
    font-size: 0.7rem;
  }
}

@media (max-width: 795px) {
  .image {
    display: none;
  }

  .formWrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    padding: 0px 10px;
  }

  .wrapper {
    background: none;
  }

  .checkbox_wrapper {
    margin: 24px 0px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 25px;
  }
}
