.wrapper {
  color: var(--white);
  margin-bottom: 90px;
}

.title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 40px 0 30px;
  border-bottom: 3px solid var(--white);
  text-transform: uppercase;
}

.list {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 31%;
  border: 2px solid var(--white);
}

.link_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.2);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  height: 360px;
}
