.header {
  background: rgba(0, 0, 0, 0.4);
}

.logo {
  content: '';
  background: url(./../../../assets/img/logo.png);
  width: 80px;
  height: 76px;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__text {
  color: var(--white);
}

.header__icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.vk {
  background-color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-position: center;
  cursor: pointer;
}

.youtube {
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.vk:hover {
  background-color: var(--dark-orange);
  transition: all 1s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  border-bottom: 2px solid var(--dark-orange);
}
