.wrapper {
    margin-top: 30px;
    color: white;
    margin-bottom: 150px;
}

.title {
    font-family: var(--font-bitter);
    font-weight: 700;
    font-size: 2.5em;
    margin: 40px 0 30px;
}

.text {
    font-family: var(--font-helvetica);
    font-weight: 500;
    width: 60%;
    margin-bottom: 20px;
}