.wrapper {
  color: var(--white);
  margin-bottom: 90px;
}

.info {
  margin-top: 100px;
}

.title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 40px 0 30px;
  border-bottom: 3px solid var(--white);
  text-transform: uppercase;
}

.text {
  font-weight: 500;
  width: 60%;
  margin-bottom: 20px;
}

.video {
  margin: 90px auto;
  height: 480px;
}

@media (max-width: 1200px) {
  .text {
    width: 100%;
    padding: 0px 10px;
  }

  .title {
    padding: 0px 10px;
  }
}

@media (max-width: 890px) {
  .wrapper {
    color: var(--white);
    margin-bottom: 60px;
  }

  .text {
    width: 100%;
    padding: 0px 10px;
  }

  .video {
    margin: 50px auto;
  }

  .title {
    padding: 0px 10px;
    font-size: 2rem;
  }

  .info {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
}
