.item {
  display: flex;
  background-color: white;
  color: var(--black);
  padding: 40px 0px;
  vertical-align: middle;
  align-items: center;
  justify-content: space-around;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.points {
  font-size: 36px;
  font-weight: 700;
}

.date {
  font-size: 24px;
  font-weight: 700;
}

.place {
  font-size: 18px;
}

.vs {
  display: flex;
  align-items: center;
  gap: 10px;
}
