.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px 24px;
  border-bottom: 1px solid var(--white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px 24px;
}

.footer {
  padding: 0px 0px 20px 0px;
  background-color: var(--basic);
}

.phoneLink {
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
}

.phoneText {
  font-size: 12px;
}

.social {
  display: flex;
  gap: 10px;
}

.agreements {
  display: inline-flex;
  gap: 10px;
  font-weight: 600;
  font-size: 12px;
}

.cookie {
  width: 55%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.title {
  display: none;
}

@media (max-width: 1210px) {
  .social {
    padding-right: 10px;
  }
}

@media (max-width: 895px) {
  .social {
    padding-right: 10px;
  }

  .logo {
    display: none;
  }

  .wrapper {
    padding-left: 10px;
  }
}

@media (max-width: 690px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    border: none;
  }

  .title {
    display: block;
    font-weight: 700;
    font-size: 2.5em;
    margin: 40px 0 23px;
    border-bottom: 3px solid var(--white);
    padding-bottom: 15px;
    text-transform: uppercase;
    width: 95%;
  }

  .agreements {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .contacts {
    display: flex;
    width: 100%;
    gap: 6%;
  }
}

@media (max-width: 460px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 0%;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 25px;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
  }
}
